<% @win = PlayerMatch.where(player_id: player_tournament.player_id, match: Match.where(manager_id: player_tournament.tournament_id), result: "Win").count %>

<li> <%= link_to player_tournament.tournament.name, tournament_path(player_tournament.tournament_id) %> (wins: <%= @win %> ) </li>
