<div class="col-md-5 dash-recent">
	<h4>My Recent Challenge Match Results</h4>
	<ol>
		<%= render partial: 'matches/recent_challenge' %>			
	</ol>

</div>

<div class="col-md-5 col-md-offset-2 dash-recent">
	<h4>My Recent Tournament Results</h4>
	<ol>
		<%= render partial: 'matches/recent_tournaments' %>
	</ol>
</div>

