<h1>Welcome</h1>
<br/>

<div class="col-md-12">
	<h3>Welcome to Taylor University's Game Contest Server!</h3>
</div>

<div class="col-md-12">
	<p>Taylor University's game contest server is designed to be a website that allows professors to host contests for various games, such as checkers, risk, and battleships. Students will then be able to develop and submit automated players for these games to challenge each other and determine who can program the best player!</p>
	<br/>
	<p>The Game Contest Server was written using Ruby on Rails and was originally begun in the fall of 2013 in Dr. Geisler's Multi-tier Web Application Development class.</p>
</div>


<div class="col-md-5 dash-recent">
	<h4>My Recent Challenge Match Results</h4>
</div>

<div class="col-md-5 col-md-offset-2 dash-recent">
	<h4>My Recent Tournament Results</h4>
</div>

<div class="col-md-5 dash-recent">

</div>

<div class="col-md-5 col-md-offset-2 dash-recent">

</div>
