<div class="table table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>Place</th>
				<th>Player</th>
				<th>Wins</th>
				<th>Losses</th>
			</tr>
		</thead>
		<tbody>
			<% tournament.players.each do |player|
					 @win_count = PlayerMatch.where(player: player,
			   		 match: Match.where(manager: tournament),
			   		 result: "Win").count 

 						@loss_count = PlayerMatch.where(player: player,
			   			 match: Match.where(manager: tournament),
			    		result: "Loss").count 
			%>
			<tr>
				<td>?</td><!-- e.g. '1st' (as in '1st place') -->
				<td><%=link_to player.name, player%></td>
				<td><%=@win_count%></td>
				<td><%=@loss_count%></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
