<div class="single_elim">
<ul class="round round-4">
	<li class="spacer">&nbsp;</li>
		
	<li class="game game-top winner"><%=match.players.first.name%><span></span></li>
	<li class="game game-spacer">&nbsp;</li>
	<li class="game game-bottom "><%=match.players.last.name%><span></span></li>
		
	<li class="spacer">&nbsp;</li>
</ul>		
</div>
